//
// Login 1
// Pages SASS files are compiled into separate css files
//


// Initialization of global variables, mixins and functions
@import "../../init";
.v-text-field--outlined legend {
    max-width: 0 !important;
}
.login.login-1 {
    .login-aside {
        .aside-img {
            min-height: 450px;
        }
    }
    .signin-logo{
        width: 138px;
        margin: auto;
    }
    .login-header-title{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        font-size: 26px !important;
        line-height: 26px !important;
        margin-top: 40px;
        color: #002B5C!important;
    }
    .login-header-playing{
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        font-size: 16px !important;
        line-height: 16px;
        margin-top: 30px;
    }
    // Form modes
    .login-signin,
    .login-signup,
    .login-forgot {
        display: none;
    }
.login-action {
    display: flex !important;
    justify-content: space-between !important;
}
.icon-close{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    .mdi-close{
        color: #2196F3;
    }
}
    &.login-signin-on {
        .login-signup {
            display: none;
        }

        .login-signin {
            display: block;
            width: 550px;
            border-radius: 10px;
            box-shadow: 0px 7px 0px 0px #2196f3;
            margin-top: -20px;
            .v-icon{
                color: #2196F3 !important;
            }
        }
        .login-button{
            background-color: #48A83E !important;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 18px !important;
            line-height: 18px !important;
            height: 60px !important;
            letter-spacing: 0px !important;
            text-transform: inherit !important;
            width: 269px !important;
        }
        #kt_login_forgot{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 14px !important;
            line-height: 16px;
            /* identical to box height, or 114% */

            text-decoration-line: underline;

            /* Azul Link */

            color: #2196F3;
        }
        .login-forgot {
            display: none;
        }
    }

    &.login-signup-on {
        .login-signup {
            display: block;
        }

        .login-signin {
            display: none;
        }

        .login-forgot {
            display: none;
        }
    }

    &.login-forgot-on {
        .login-signup {
            display: none;
        }

        .login-signin {
            display: none;
        }

        .login-forgot {
            display: block;
        }
    }
}

// Desktop view
@include media-breakpoint-up(lg) {
    .login.login-1 {
        .login-aside {
            width: 100%;
            max-width: 600px;
        }

        .login-content {
            width: 100%;
            max-width: 500px;

            .login-form {
                width: 100%;
                max-width: 450px;
            }
        }
    }
}
.v-text-field__slot{
    margin-left: 10px !important;
}
// Tablet and Mobile mode
@include media-breakpoint-between(lg, xl) {
    .login.login-1 {
        .login-aside {
            width: 100%;
            max-width: 450px;
        }
    }
}

// Tablet mode
@include media-breakpoint-down(md) {
    .login.login-1 {
        .login-content {
            .login-form {
                width: 100%;
                max-width: 400px;
            }
        }
    }
}

// Mobile mode
@include media-breakpoint-down(xs) {
    .login.login-1 {
        .aside-img {
            min-height: 300px !important;
            background-size: 400px;
        }

        .login-content {
            .login-form {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}
