//
// Header
//

// Desktop Mode
@include media-breakpoint-up(lg) {
	.header {
		display: flex;
		justify-content: space-between;
		height: 110px;
		// height: get($header-config, desktop, default, height);
		position: relative;
		z-index: 100 !important;
		box-shadow: 8px -9px 11px 7px !important;

		// Fixed Header Mode
		&.header-fixed {
			height: 110px;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			z-index:9;
			box-shadow: 8px -9px 11px 7px !important;
		}
		.header-logo{
			margin-left: 20px;
		}
		.week-free-icon{
			background-color: #FFFFFF !important;
			border-radius: 50%;
			display: flex;
			margin-right: 12px;
			img{
				width: 51px;
			}
		}
		.teacher-help {
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 600;
			font-size: 16px !important;
			line-height: 16px;
			/* identical to box height, or 100% */

			text-decoration-line: underline;

			/* Azul iconos */
			color: #007CC2 !important;

		}
		.bank-card-detail{
			font-family: 'Lato';
			font-style: normal;
			font-weight: 500;
			font-size: 14px !important;
			line-height: 20px;
			/* identical to box height, or 143% */

			text-align: center;

			color: #48A83E;
			p{
				margin-top: 10px !important;
				margin-bottom: 0 !important;
			}
		}
		.session-landing{
			margin-right: 25px;
			.sesstion-button{
				background-color: #007CC2 !important;
				height: 60px !important;
				font-family: 'Lato';
				letter-spacing: 0px !important;
				font-style: normal;
				font-weight: 700;
				font-size: 20px !important;
				line-height: 20px;
				/* identical to box height, or 100% */

				text-align: right;

				/* Blanco */

				color: #FFFFFF !important;
			}
		}
		.week-free-button {
			background-color: #48A83E !important;
			font-family: 'Lato';
			font-style: normal;
			font-weight: 700;
			text-transform: inherit !important;
			font-size: 20px !important;
			letter-spacing: 0px !important;
			line-height: 20px;
			height: 60px !important;
			/* identical to box height, or 100% */
			padding: 10px 28px 10px 6px !important;
			text-align: right;

			/* Blanco */

			color: #FFFFFF !important;
		}
		// Aside Enabled Mode
		.aside-enabled & {
			&.header-fixed {
				left: 0;
			}
		}

		// Fixed Header & Minimized Aside & Minimized Aside Hover Modes
		.header-fixed.aside-minimize & {
			left: get($aside-config, base, minimized-width);
		}

		// Fixed Header & Fixed Subheader Modes
		// .header-fixed.subheader-fixed & {
		// 	box-shadow: none !important;
		// }
	}
}
