//
// Header
//

// Desktop Mode
@include media-breakpoint-up(lg) {
	.header {
		display: flex;
		justify-content: space-between;
		height: 120px;
		// height: get($header-config, desktop, default, height);
		position: relative;
		z-index: 9;
		box-shadow: 8px -9px 11px 7px !important;

		// Fixed Header Mode
		&.header-fixed {
			height: 120px;
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			z-index:9;
			box-shadow: 8px -9px 11px 7px !important;
		}

		// Aside Enabled Mode
		.aside-enabled & {
			&.header-fixed {
				left: 0;
			}
		}

		// Fixed Header & Minimized Aside & Minimized Aside Hover Modes
		.header-fixed.aside-minimize & {
			left: get($aside-config, base, minimized-width);
		}

		// Fixed Header & Fixed Subheader Modes
		.header-fixed.subheader-fixed & {
			box-shadow: none !important;
		}
	}
}
